In [3]:
#import numpy to use seed 
import numpy as np
import pandas as pd
from numpy.random import seed
np.random.seed(1)

In [4]:
#import other dependencies

import os
import tensorflow 
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

Read CSV create, and clean dataframe

In [5]:
#Read in CSV and create dataframe
mlb_teams= pd.read_csv("Team Statistics.csv")

mlb_teams

,YR,LG,Name,G,W,L,WSWin,Unnamed: 7,R,H,2B,3B,HR,BB,Unnamed: 14,SO,ERA,SHO,SV,FP
0,1969,NL,Atlanta Braves,162,93,69,N,NaN,691,1411,195,22,141,485,NaN,665,3.53,7,42,0.981
1,1969,AL,Baltimore Orioles,162,109,53,N,NaN,779,1465,234,29,175,634,NaN,806,2.83,20,36,0.984
2,1969,AL,Boston Red Sox,162,87,75,N,NaN,743,1381,234,37,197,658,NaN,923,3.92,7,41,0.975
3,1969,AL,California Angels,163,71,91,N,NaN,528,1221,151,29,88,516,NaN,929,3.54,9,39,0.978
4,1969,AL,Chicago White Sox,162,68,94,N,NaN,625,1346,210,27,112,552,NaN,844,4.21,10,25,0.981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,2019,NL,St. Louis Cardinals,162,91,71,N,NaN,764,1336,246,24,210,561,NaN,1420,3.80,14,52,0.989
1404,2019,AL,Tampa Bay Rays,162,96,66,N,NaN,769,1427,291,29,217,542,NaN,1493,3.65,12,46,0.985
1405,2019,AL,Texas Rangers,162,78,84,N,NaN,810,1374,296,24,223,534,NaN,1578,5.06,9,33,0.982
1406,2019,AL,Toronto Blue Jays,162,67,95,N,NaN,726,1299,270,21,247,509,NaN,1514,4.79,7,33,0.984
1407,2019,NL,Washington Nationals,162,93,69,Y,NaN,873,1460,298,27,231,584,NaN,1308,4.27,13,40,0.985

In [6]:
#Get list of dataframe columns

mlb_teams.columns

Index(['YR', 'LG', 'Name', 'G', 'W', 'L', 'WSWin', 'Unnamed: 7', 'R', 'H',
       '2B', '3B', 'HR', 'BB', 'Unnamed: 14', 'SO', 'ERA', 'SHO', 'SV', 'FP'],
      dtype='object')

In [7]:
#Select columns for dataframe

mlb_df = mlb_teams[['YR', 'LG', 'Name', 'G', 'W', 'L', 'WSWin', 'R', 'H',
                   '2B', '3B', 'HR', 'BB', 'SO', 'ERA', 'SHO', 'SV', 'FP']]
mlb_df.head(20)

,YR,LG,Name,G,W,L,WSWin,R,H,2B,3B,HR,BB,SO,ERA,SHO,SV,FP
0,1969,NL,Atlanta Braves,162,93,69,N,691,1411,195,22,141,485,665,3.53,7,42,0.981
1,1969,AL,Baltimore Orioles,162,109,53,N,779,1465,234,29,175,634,806,2.83,20,36,0.984
2,1969,AL,Boston Red Sox,162,87,75,N,743,1381,234,37,197,658,923,3.92,7,41,0.975
3,1969,AL,California Angels,163,71,91,N,528,1221,151,29,88,516,929,3.54,9,39,0.978
4,1969,AL,Chicago White Sox,162,68,94,N,625,1346,210,27,112,552,844,4.21,10,25,0.981
5,1969,NL,Chicago Cubs,163,92,70,N,720,1400,215,40,142,559,928,3.34,22,27,0.979
6,1969,NL,Cincinnati Reds,163,89,73,N,798,1558,224,42,171,474,1042,4.11,11,44,0.973
7,1969,AL,Cleveland Indians,161,62,99,N,573,1272,173,24,119,535,906,3.94,7,22,0.976
8,1969,AL,Detroit Tigers,162,90,72,N,701,1316,188,29,182,578,922,3.31,20,28,0.979
9,1969,NL,Houston Astros,162,81,81,N,676,1284,208,40,104,699,972,3.60,11,34,0.975
10,1969,AL,Kansas City Royals,163,69,93,N,586,1311,179,32,98,522,901,3.72,10,25,0.975
11,1969,NL,Los Angeles Dodgers,162,85,77,N,645,1405,185,52,97,484,823,3.08,20,31,0.981
12,1969,AL,Minnesota Twins,162,97,65,N,790,1520,246,32,163,599,906,3.24,8,43,0.977
13,1969,NL,Montreal Expos,162,52,110,N,582,1300,202,33,125,529,962,4.33,8,21,0.970
14,1969,AL,New York Yankees,162,80,81,N,562,1247,210,44,94,565,840,3.23,13,20,0.979
15,1969,NL,New York Mets,162,100,62,Y,632,1311,184,41,109,527,1089,2.99,28,35,0.980
16,1969,AL,Oakland Athletics,162,88,74,N,740,1400,210,28,148,617,953,3.71,14,36,0.978
17,1969,NL,Philadelphia Phillies,162,63,99,N,645,1304,227,35,137,549,1130,4.14,14,21,0.978
18,1969,NL,Pittsburgh Pirates,162,88,74,N,725,1557,220,52,119,454,944,3.61,9,33,0.975
19,1969,NL,San Diego Padres,162,52,110,N,468,1203,180,42,99,423,1143,4.24,9,25,0.975

In [8]:
#Set X(data) and y(team)variables

data = mlb_df.drop("Name", axis=1)
team = mlb_df["Name"]
print(data.shape, team.shape)

(1408, 17) (1408,)

In [9]:
#Use getdummies to convert strings

data_LG = data.copy()
data_bin = pd.get_dummies(data_LG, columns=["LG", "WSWin"])
data_bin = data_bin.drop(columns=['LG_AL','WSWin_N'])

data_bin.head()

,YR,G,W,L,R,H,2B,3B,HR,BB,SO,ERA,SHO,SV,FP,LG_NL,WSWin_Y
0,1969,162,93,69,691,1411,195,22,141,485,665,3.53,7,42,0.981,1,0
1,1969,162,109,53,779,1465,234,29,175,634,806,2.83,20,36,0.984,0,0
2,1969,162,87,75,743,1381,234,37,197,658,923,3.92,7,41,0.975,0,0
3,1969,163,71,91,528,1221,151,29,88,516,929,3.54,9,39,0.978,0,0
4,1969,162,68,94,625,1346,210,27,112,552,844,4.21,10,25,0.981,0,0

Preprocess data

In [10]:
#Import SciKit libraries

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [11]:
#Split data and teams into training and test data

X_train, X_test, y_train, y_test = train_test_split(data_bin, team, random_state=1)
y_train

1114                  Cincinnati Reds
572                     New York Mets
154                Kansas City Royals
575                Pittsburgh Pirates
693                 Baltimore Orioles
                    ...
715                  Seattle Mariners
905                   Cincinnati Reds
1096                    New York Mets
235                 Oakland Athletics
1061    Los Angeles Angels of Anaheim
Name: Name, Length: 1056, dtype: object

In [12]:
#Scale data using MinMaxScaler

X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled

array([[0.82      , 0.96721311, 0.66666667, ..., 0.86956522, 1.        ,
        0.        ],
       [0.44      , 0.95081967, 0.48      , ..., 0.39130435, 1.        ,
        0.        ],
       [0.12      , 0.96721311, 0.66666667, ..., 0.34782609, 0.        ,
        0.        ],
       ...,
       [0.8       , 0.96721311, 0.38666667, ..., 0.69565217, 1.        ,
        0.        ],
       [0.18      , 0.96721311, 0.37333333, ..., 0.13043478, 0.        ,
        0.        ],
       [0.78      , 0.96721311, 0.78666667, ..., 0.73913043, 0.        ,
        0.        ]])

In [13]:
#Import and use SVC MODEL
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train_scaled, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [14]:
#Print training and test scores from model using datasets

print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: 0.26799242424242425
Testing Data Score: 0.15056818181818182

Create Neural Network Model

In [15]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [100, 500, 1000],
              'gamma': [0.0001, 0.005, 0.001]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [16]:
# Train the model with GridSearch

grid.fit(X_train_scaled, y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV] C=100, gamma=0.0001 .............................................

C:\Users\swill\Anaconda3\envs\PythonData\lib\site-packages\sklearn\model_selection\_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] ................. C=100, gamma=0.0001, score=0.245, total=   0.4s
[CV] C=100, gamma=0.0001 .............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.3s remaining:    0.0s

[CV] ................. C=100, gamma=0.0001, score=0.237, total=   0.4s
[CV] C=100, gamma=0.0001 .............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.7s remaining:    0.0s

[CV] ................. C=100, gamma=0.0001, score=0.265, total=   0.4s
[CV] C=100, gamma=0.0001 .............................................
[CV] ................. C=100, gamma=0.0001, score=0.204, total=   0.3s
[CV] C=100, gamma=0.0001 .............................................
[CV] ................. C=100, gamma=0.0001, score=0.190, total=   0.4s
[CV] C=100, gamma=0.005 ..............................................
[CV] .................. C=100, gamma=0.005, score=0.245, total=   0.4s
[CV] C=100, gamma=0.005 ..............................................
[CV] .................. C=100, gamma=0.005, score=0.237, total=   0.3s
[CV] C=100, gamma=0.005 ..............................................
[CV] .................. C=100, gamma=0.005, score=0.265, total=   0.3s
[CV] C=100, gamma=0.005 ..............................................
[CV] .................. C=100, gamma=0.005, score=0.204, total=   0.4s
[CV] C=100, gamma=0.005 ..............................................
[CV] .................. C=100, gamma=0.005, score=0.190, total=   0.4s
[CV] C=100, gamma=0.001 ..............................................
[CV] .................. C=100, gamma=0.001, score=0.245, total=   0.4s
[CV] C=100, gamma=0.001 ..............................................
[CV] .................. C=100, gamma=0.001, score=0.237, total=   0.4s
[CV] C=100, gamma=0.001 ..............................................
[CV] .................. C=100, gamma=0.001, score=0.265, total=   0.4s
[CV] C=100, gamma=0.001 ..............................................
[CV] .................. C=100, gamma=0.001, score=0.204, total=   0.4s
[CV] C=100, gamma=0.001 ..............................................
[CV] .................. C=100, gamma=0.001, score=0.190, total=   0.4s
[CV] C=500, gamma=0.0001 .............................................
[CV] ................. C=500, gamma=0.0001, score=0.217, total=   1.0s
[CV] C=500, gamma=0.0001 .............................................
[CV] ................. C=500, gamma=0.0001, score=0.223, total=   1.0s
[CV] C=500, gamma=0.0001 .............................................
[CV] ................. C=500, gamma=0.0001, score=0.275, total=   0.9s
[CV] C=500, gamma=0.0001 .............................................
[CV] ................. C=500, gamma=0.0001, score=0.218, total=   1.0s
[CV] C=500, gamma=0.0001 .............................................
[CV] ................. C=500, gamma=0.0001, score=0.180, total=   0.9s
[CV] C=500, gamma=0.005 ..............................................
[CV] .................. C=500, gamma=0.005, score=0.217, total=   0.9s
[CV] C=500, gamma=0.005 ..............................................
[CV] .................. C=500, gamma=0.005, score=0.223, total=   1.1s
[CV] C=500, gamma=0.005 ..............................................
[CV] .................. C=500, gamma=0.005, score=0.275, total=   0.9s
[CV] C=500, gamma=0.005 ..............................................
[CV] .................. C=500, gamma=0.005, score=0.218, total=   0.9s
[CV] C=500, gamma=0.005 ..............................................
[CV] .................. C=500, gamma=0.005, score=0.180, total=   0.9s
[CV] C=500, gamma=0.001 ..............................................
[CV] .................. C=500, gamma=0.001, score=0.217, total=   0.9s
[CV] C=500, gamma=0.001 ..............................................
[CV] .................. C=500, gamma=0.001, score=0.223, total=   1.0s
[CV] C=500, gamma=0.001 ..............................................
[CV] .................. C=500, gamma=0.001, score=0.275, total=   0.9s
[CV] C=500, gamma=0.001 ..............................................
[CV] .................. C=500, gamma=0.001, score=0.218, total=   1.0s
[CV] C=500, gamma=0.001 ..............................................
[CV] .................. C=500, gamma=0.001, score=0.180, total=   1.0s
[CV] C=1000, gamma=0.0001 ............................................
[CV] ................ C=1000, gamma=0.0001, score=0.217, total=   1.8s
[CV] C=1000, gamma=0.0001 ............................................
[CV] ................ C=1000, gamma=0.0001, score=0.213, total=   1.9s
[CV] C=1000, gamma=0.0001 ............................................
[CV] ................ C=1000, gamma=0.0001, score=0.251, total=   1.7s
[CV] C=1000, gamma=0.0001 ............................................
[CV] ................ C=1000, gamma=0.0001, score=0.199, total=   1.8s
[CV] C=1000, gamma=0.0001 ............................................
[CV] ................ C=1000, gamma=0.0001, score=0.194, total=   1.8s
[CV] C=1000, gamma=0.005 .............................................
[CV] ................. C=1000, gamma=0.005, score=0.217, total=   1.9s
[CV] C=1000, gamma=0.005 .............................................
[CV] ................. C=1000, gamma=0.005, score=0.213, total=   1.8s
[CV] C=1000, gamma=0.005 .............................................
[CV] ................. C=1000, gamma=0.005, score=0.251, total=   1.9s
[CV] C=1000, gamma=0.005 .............................................
[CV] ................. C=1000, gamma=0.005, score=0.199, total=   1.8s
[CV] C=1000, gamma=0.005 .............................................
[CV] ................. C=1000, gamma=0.005, score=0.194, total=   1.7s
[CV] C=1000, gamma=0.001 .............................................
[CV] ................. C=1000, gamma=0.001, score=0.217, total=   1.7s
[CV] C=1000, gamma=0.001 .............................................
[CV] ................. C=1000, gamma=0.001, score=0.213, total=   1.8s
[CV] C=1000, gamma=0.001 .............................................
[CV] ................. C=1000, gamma=0.001, score=0.251, total=   1.6s
[CV] C=1000, gamma=0.001 .............................................
[CV] ................. C=1000, gamma=0.001, score=0.199, total=   1.8s
[CV] C=1000, gamma=0.001 .............................................
[CV] ................. C=1000, gamma=0.001, score=0.194, total=   1.7s

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:   46.6s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='linear', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [100, 500, 1000],
                         'gamma': [0.0001, 0.005, 0.001]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

Train Model

In [17]:
#Print best parameters and score from Gridsearch

print(grid.best_params_)
print(grid.best_score_)

{'C': 100, 'gamma': 0.0001}
0.22820352320486453

In [18]:
#Print accuracy of model using test dataset

print('Test Acc: %.3f' % grid.score(X_test_scaled, y_test))

Test Acc: 0.219

Evaluate Model

In [112]:
#Evaluate model

model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

11/11 - 0s - loss: 3.7350 - accuracy: 0.0284
Deep Neural Network - Loss: 3.7349679470062256, Accuracy: 0.028409091755747795

Predict World Series Champs

In [ ]:
#Predict outcome